In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
flight = r'C:\Users\COMP\Desktop\Xylos\train.csv'
flight = pd.read_csv(flight)
flight.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Airline C,12/06/2019,Delhi,Cochin,DEL → MAA → COK,20:40,09:25 13 Jun,12h 45m,1 stop,No info,7480
1,Airline A,18/06/2019,Banglore,Delhi,BLR → DEL,18:55,22:00,3h 5m,non-stop,No info,8016
2,Airline C,18/05/2019,Delhi,Cochin,DEL → BOM → COK,03:50,19:15,15h 25m,1 stop,No info,8879
3,Airline A,6/05/2019,Kolkata,Banglore,CCU → BOM → BLR,20:00,08:15 07 May,12h 15m,1 stop,In-flight meal not included,9663
4,Airline A,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,06:30,12:00,5h 30m,1 stop,In-flight meal not included,9663

In [5]:
flight.shape

(8012, 11)

In [3]:
flight.describe()

              Price
count   8012.000000
mean    9062.037943
std     4626.593069
min     1759.000000
25%     5277.000000
50%     8371.000000
75%    12373.000000
max    79512.000000

In [4]:
flight.describe(exclude=np.number)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,8012,8012,8012,8012,8011,8012,8012,8012,8011,8012
unique,12,44,5,6,122,219,1182,353,4,10
top,Airline A,6/06/2019,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info
freq,2881,390,3398,3398,1784,189,303,412,4235,6251

In [6]:
flight.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [15]:
(flight[flight["Total_Stops"].isnull()])

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1807,Airline C,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [16]:
(flight[flight["Route"].isnull()])

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1807,Airline C,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

In [59]:
flight[(flight["Duration"]=="23h 40m")].groupby(["Route"])["Duration"].count()

Route
BLR → BOM → DEL          5
BLR → GOI → DEL          1
DEL → AMD → BOM → COK    5
DEL → HYD → MAA → COK    9
DEL → MAA → COK          8
Name: Duration, dtype: int64

In [64]:
(flight[flight["Route"]=="DEL → HYD → MAA → COK"])

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
55,Airline B,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,11:55,21:20,9h 25m,2 stops,No info,6610
110,Airline C,15/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 16 Jun,23h 40m,2 stops,No info,10975
528,Airline C,9/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 10 May,26h 20m,2 stops,No info,9347
617,Airline C,1/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 02 Jun,20h 10m,2 stops,No info,10467
637,Airline C,27/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 28 Jun,20h 10m,2 stops,No info,8839
710,Airline B,3/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:35,21:20,13h 45m,2 stops,No info,9413
768,Airline D,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,21:20,11h 35m,2 stops,No info,10444
834,Airline C,15/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 16 Jun,26h 20m,2 stops,No info,10975
906,Airline B,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,06:40,21:20,14h 40m,2 stops,No info,6494
1033,Airline C,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 07 Mar,26h 20m,2 stops,No info,9190
1193,Airline B,1/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,04:55,21:20,16h 25m,2 stops,No info,10278
1254,Airline C,24/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 25 Jun,20h 10m,2 stops,No info,8839
1328,Airline C,9/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 10 Mar,23h 40m,2 stops,No info,10660
1343,Airline C,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,17:15,09:25 07 Mar,16h 10m,2 stops,No info,9417
1470,Airline C,24/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 25 Jun,23h 40m,2 stops,No info,10975
1484,Airline D,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:05,21:20,8h 15m,2 stops,No info,6128
1676,Airline D,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,21:20,14h 15m,2 stops,No info,6128
1740,Airline B,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,08:35,21:20,12h 45m,2 stops,No info,6494
1838,Airline B,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,06:40,21:20,14h 40m,2 stops,No info,6494
1866,Airline C,15/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 16 May,26h 20m,2 stops,No info,10975
2100,Airline B,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,04:55,21:20,16h 25m,2 stops,No info,6223
2262,Airline C,12/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,17:15,09:25 13 Jun,16h 10m,2 stops,No info,9417
2312,Airline C,9/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 10 May,23h 40m,2 stops,No info,9925
2692,Airline C,3/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 04 Jun,20h 10m,2 stops,No info,10467
2728,Airline C,3/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 04 Jun,23h 40m,2 stops,No info,10975
2825,Airline D,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:10,21:20,14h 10m,2 stops,In-flight meal not included,5935
2895,Airline C,15/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 16 Jun,20h 10m,2 stops,No info,8839
3073,Airline C,3/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 04 Mar,23h 40m,2 stops,No info,12760
3262,Airline C,21/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:05,09:25 22 May,20h 20m,2 stops,No info,10467
3335,Airline B,9/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,11:55,21:20,9h 25m,2 stops,No info,8378
3373,Airline D,9/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,21:20,14h 15m,2 stops,No info,8620
3521,Airline D,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,21:20,11h 35m,2 stops,No info,6653
3567,Airline D,9/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,21:20,8h 5m,2 stops,No info,11560
3609,Airline D,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:05,21:20,8h 15m,2 stops,No info,10759
3844,Airline C,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 22 Mar,23h 40m,2 stops,No info,8140
3940,Airline C,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,17:15,09:25 28 Mar,16h 10m,2 stops,No info,6057
4486,Airline B,3/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,08:35,21:20,12h 45m,2 stops,No info,8049
4705,Airline B,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,04:55,21:20,16h 25m,2 stops,No info,6223
4790,Airline C,1/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,17:15,09:25 02 May,16h 10m,2 stops,No info,8839
4856,Airline C,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 22 Mar,20h 10m,2 stops,No info,7107
4861,Airline B,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:35,21:20,13h 45m,2 stops,No info,6494
4877,Airline D,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,21:20,14h 15m,2 stops,No info,7084
5421,Airline C,6/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 07 Jun,26h 20m,2 stops,No info,11447
5479,Airline D,3/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:10,21:20,14h 10m,2 stops,In-flight meal not included,8938
5504,Airline C,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 22 Mar,26h 20m,2 stops,No info,7615
5686,Airline C,24/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 25 Jun,26h 20m,2 stops,No info,11185
5896,Airline D,21/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,21:20,11h 35m,2 stops,No info,7178
6066,Airline C,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 28 Mar,23h 40m,2 stops,No info,7090
6126,Airline B,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,11:55,21:20,9h 25m,2 stops,No info,6494
6143,Airline C,18/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 19 May,20h 10m,2 stops,No info,11307
6403,Airline C,27/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 28 Mar,26h 20m,2 stops,No info,6565
6500,Airline C,12/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:05,09:25 13 Jun,20h 20m,2 stops,No info,10975
7074,Airline C,27/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 28 Jun,26h 20m,2 stops,No info,10975
7215,Airline C,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:05,09:25 07 Mar,20h 20m,2 stops,No info,12865
7233,Airline C,18/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,07:05,09:25 19 May,26h 20m,2 stops,No info,10975
7504,Airline C,9/05/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 10 May,20h 10m,2 stops,No info,9417
7508,Airline B,6/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,08:35,21:20,12h 45m,2 stops,No info,7682
7559,Airline D,9/03/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,21:20,11h 35m,2 stops,No info,10090
7681,Airline C,27/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,09:45,09:25 28 Jun,23h 40m,2 stops,No info,10975
7895,Airline C,6/06/2019,Delhi,Cochin,DEL → HYD → MAA → COK,13:15,09:25 07 Jun,20h 10m,2 stops,No info,10939

In [65]:
flight["Airline"].value_counts()

Airline A    2881
Airline B    1550
Airline C    1287
Airline D     906
Airline E     625
Airline F     360
Airline G     235
Airline H     146
Airline I      12
Airline J       6
Airline K       3
Airline L       1
Name: Airline, dtype: int64

In [69]:
(flight[flight["Airline"]=="Airline A"]).groupby("Route")["Airline"].count().sort_values(ascending=False)

Route
CCU → BOM → BLR          715
DEL → BOM → COK          633
BLR → DEL                292
BLR → BOM → DEL          286
CCU → DEL → BLR          233
BOM → HYD                152
DEL → JAI → BOM → COK    150
DEL → AMD → BOM → COK    100
DEL → IDR → BOM → COK     60
DEL → NAG → BOM → COK     51
DEL → ATQ → BOM → COK     28
DEL → COK                 24
DEL → BHO → BOM → COK     22
DEL → LKO → BOM → COK     21
DEL → BDQ → BOM → COK     20
CCU → GAU → BLR           19
DEL → JDH → BOM → COK     17
DEL → MAA → BOM → COK     14
DEL → IXC → BOM → COK     12
BLR → MAA → DEL            7
DEL → UDR → BOM → COK      5
BOM → DEL → HYD            4
CCU → BOM → PNQ → BLR      3
BLR → BOM → JDH → DEL      3
DEL → DED → BOM → COK      2
BLR → BDQ → DEL            2
BOM → JDH → DEL → HYD      1
BOM → IDR → DEL → HYD      1
BOM → UDR → DEL → HYD      1
BOM → DED → DEL → HYD      1
BOM → BDQ → DEL → HYD      1
BOM → VNS → DEL → HYD      1
Name: Airline, dtype: int64